---
import 'primeicons/primeicons.css';
const menu = ['Form', 'Button', 'Data', 'Panel', 'Overlay', 'File', 'Menu', 'Messages', 'Media', 'Misc'];
const URL = Astro.url;
const COMPONENTS = Astro.props.components || [];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <style>
      :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.5rem;
      }

      .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
      }
    </style>
  </head>
  <body class="bg-[#212121] p-4">
    <header class="flex items-center justify-between text-white mb-4">
      <h1 class="text-xl">Prime Designer</h1>
      <div class="flex gap-8">
        {COMPONENTS.map((i: any) => <a href={`${i.toLowerCase().replaceAll(' ', '_')}`}>{i}</a>)}
      </div>
    </header>
    <div class="flex gap-4">
      <aside class="text-white">
        {
          menu.map((item) => {
            const isCurrent = URL.pathname === `/${item.toLowerCase()}`;
            return (
              <a class={`block ${isCurrent ? 'bg-black/30' : 'hover:bg-black/10'} p-2 w-52 rounded-lg`} href={`/${item.toLowerCase()}`}>
                {item}
              </a>
            );
          })
        }
      </aside>
      <slot />
    </div>
  </body>
</html>
